body {
  background-color: #e8bffb;
  font-family: 'Merienda One', cursive;
}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }

  .player-one {
    background-color: red;
    border-radius: 10px;
  }

  .player-two {
    background-color: blue;
    border-radius: 10px;
  }.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }

  .player-one {
    background-color: #f04848;
    border-radius: 10px;
  }

  .player-two {
    background-color: #6998e4;
    border-radius: 10px;
  }

.p1 {
  font-family: 'Merienda One', cursive;
  color: #ffffff;
}